@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

h1 {
  font-family: "Russo One", sans-serif;
  font-weight: normal;
}
header,
footer {
  background-color: #1e5285;
  color: white;
}

body {
  font-family: sans-serif;
}

header {
  width: 100%;
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
}

header h1 {
  margin-left: 20px;
  color: #1e5285;
  clear: none;
  font-family: "Wallpoet", sans-serif;
}

.nav_menu {
  right: 40px;
  position: fixed;
  top: 20px;
}

.nav_menu:hover .nav_menu_content {
  display: block;
}

.nav_menu_content {
  display: none;
  position: absolute;
  width: 200px;
  left: -150px;
  margin: 0px;
  padding: 0px;
}

.nav_menu_content ul li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  margin: 2px;
  background-color: #1e5285;
}

.nav_menu_content ul {
  padding: 0px;
  border-collapse: collapse;
  margin: 0px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.main {
  padding: 50px;
}

footer p {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  flex: 1;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  left: 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: blue;
}

#sign_in {
  display: flex;
}

#new_user,
#existing_user {
  flex: 1;
  text-align: center;
}

#sign_in form input,
#sign_in form button {
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#trainTable {
  border-collapse: collapse;
}

#trainTable td,
#trainTable th {
  border: 1px solid black;
  padding: 5px;
}

#trainTable th {
  text-align: center;
}
